/* New styles for results page (with transitions) */
.results-container {
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    width: 80%;
    max-width: 1200px;
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Fade-in effect */
}

.results-container.fade-appear-active {
    opacity: 1;
}

/* Hover effect for buttons */
.results-container button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ffc324;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out; /* Transition for background color and scale */
}

.results-container button:hover {
    background-color: #a40145;
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}

/* Radar chart fade-in */
.results-container .radar-chart {
    background-color: #f9f9f9;
    margin: 20px auto;
    border-radius: 8px;
    width: 80%;
    height: auto;
    max-width: 800px;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Fade-in effect for radar chart */
}

.results-container .radar-chart.loaded {
    opacity: 1;
}

/* Add some margin between paragraphs and headings */
.results-container p + h4 {
    margin-top: 20px;
}

/* Fade animation for transitions */
.results-container.fade-appear {
    opacity: 0;
}

.results-container.fade-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
