/* New styles for results page (made to match app.css)*/
.results-container {
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    width: 80%;
    max-width: 1200px;
    word-wrap: break-word;
}

.results-container h2 {
    font-size: 1.5em;
    color: #333;
}

.results-container h3 {
    font-size: 1.4em;
    color: #333;
}
.results-container h4 {
    font-size: 1.0em;
    font-weight: bold;
    color: #333;
}

/* Radar chart styles*/
.results-container .radar-chart {
    background-color: #f9f9f9;
    margin: 20px auto;
    border-radius: 8px;
    width: 80%;
    height: auto;
    max-width: 800px; /* Adjusted for better PDF export */
}

/* Button styling */
.results-container button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ffc324;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.results-container button:hover {
    background-color: #a40145;
}

/* Add some margin between paragraphs and headings */
.results-container p + h4 {
    margin-top: 20px;
}

/* Fade animation for transitions */
.results-container.fade-appear {
    opacity: 0;
}

.results-container.fade-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
